@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
    margin: 0;
    padding: 0;
    
}

html, body {
    background-color: #f1f1f1;
    min-height: 100%;
    font-family: Raleway, sans-serif;
}

/** NAVIGATION BAR **/
nav {
    position: fixed;
    height: 16%;
    width: 100%;
    z-index: 1;
    color: #F6F6E8;
    background: #404040;
}

nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    display: inline-block;
    font-size: 35px;
    width: 150px;
    padding-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #F6F6E8;
    display: block;
    width: 200px;
    transition: 0.3s ease;
    padding: 20px 0;
    margin: 0 20px;
}

nav ul li a:hover {
    border-top: 4px solid #00ACE9;
    border-bottom: 4px solid #00ACE9;
    padding: 6px 0; 
}


nav #logo{
    top: 0;
    left: 0;
	text-align: center;
	padding-top: 10px;
    font-size: 50px;
}

/** BACKGROUND **/
.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background img {
    padding-top: 1%;
    width: 100%;
    height: 90%;
    opacity: 0.9;
    z-index: 1;
}

p {
    font-family: arial;
    font-size: 15px;
}

/** SLIDESHOW **/
@keyframes slider{
    0% {left: 0;}
    20%{left: 0;}
    25%{left: -150%;}
    45%{left: -150%;}
    50%{left: -250%;}
    70%{left: -250%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

#image_slider {
    overflow: hidden;
    margin-bottom: 30px;
}

#image_slider figure img {
    float: left;
    width: 25%;
    height: 350px;

}

#image_slider figure {
    left: 0;
    width: 500%;
    margin: 0 auto;
    position: relative;
    animation: 15s slider infinite;
}

/** CONTENT **/
#main .title{
    width: 95%;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 2px 2px;
	background-color: white;
}
#main .content{
	width: 95%;
	margin: 5px auto 25px auto;
	padding: 10px;
	box-shadow: 2px 2px;
	background-color: white;
}


/** CONTAINER **/
#main {
    padding-top: 140px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#container h2{
    text-align: center;
    margin-bottom: 5px;
}

#container > div{
    padding: 10px;
    height: 500px;
    margin: 5%;
    background-color: white;
    border: 3px solid white;
}

#container img{
    width: 100%;
    height: 97%;
}

#container .box img{
    width: 100%;
    height: 60%;
}
#container .box1 img{
    width: 100%;
    height: 87%;
}

.TextDescription{
    padding: 15px;
}


/** FOOTER **/
.footer {
    position: relative;
    background: #404040;
    color: #F6F6E8;
    height: 100px;
    text-align: justify;
    padding-left: 80%;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    background: #eee;
    padding-bottom: 100px;
    padding-top: 15px;
}